<a href="https://colab.research.google.com/github/HelloKIMMS/2025-1-myclass-BDA/blob/main/inclass/07w_A_mon_0421_easy_ch07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 단원07 데이터 정제

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'sex'   : ['M', 'F', np.nan, 'M', 'F'],
                   'score' : [5, 4, 3, 4, None]})
df

In [ ]:
df.score + 1

In [ ]:
pd.isna(df)

In [ ]:
pd.isnull(df)

In [ ]:
pd.isna(df).sum()

In [ ]:
pd.isna(df).sum(axis=0)

In [ ]:
pd.isna(df).sum(axis='index')

In [ ]:
c

In [ ]:
pd.isna(df).sum(axis='columns')

In [ ]:
pd.isna(df).sum(axis='index')

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum(axis=0)

In [ ]:
df.isna().sum(axis=1)

In [ ]:
s = pd.Series([True, False, True])
s

In [ ]:
s.sum()

In [ ]:
s.any()

In [ ]:
s.all()

In [ ]:
df.isna()

In [ ]:
df.isna().any() # 열별로 결측치가 하나라도 있으면 True

In [ ]:
df.notna()

In [ ]:
df.notnull()

In [ ]:
df.isna().all() # 열별로 모두 결측치이면 True

In [ ]:
df.isna().any(axis=1) # 행별로 결측치가 하나라도 있으면 True

In [ ]:
~df.isna().any(axis=1)

In [ ]:
df.isna().all(axis=1) # 행별로 모두 결측치이면 True

In [ ]:
~df.isna().all(axis=1)

In [ ]:
# 적어도 하나 이상 NaN인 행을 추출, 시험 예상
df[ df.isna().any(axis=1) ]

In [ ]:
# 적어도 하나 이상 NaN인 행을 추출, 시험 예상
df.loc[ df.isna().any(axis=1) ]

In [ ]:
# NaN이 하나도 없는 행을 추출, 시험 예상
df[ ~df.isna().any(axis=1) ]

In [ ]:
# NaN이 하나도 없는 행을 추출, 시험 예상
df.loc[ ~df.isna().any(axis=1) ]

## 결측값 시각화

In [ ]:
df.isna()

In [ ]:
import seaborn as sns

sns.heatmap(df.isna());

In [ ]:
sns.heatmap(df.isnull());

In [ ]:
sns.heatmap(df.isnull(), cbar=False);

In [ ]:
import missingno as msno

msno.matrix(df);

In [ ]:
tdf = sns.load_dataset('titanic')
sns.heatmap(tdf.isna(), cbar=False);

In [ ]:
tdf = sns.load_dataset('titanic')
sns.heatmap(tdf[50:840].isna(), cbar=False);

In [ ]:
msno.matrix(tdf);

- 오른쪽의 스파크라인은 데이터 완성도의 일반적인 모양을 요약하고 데이터 세트에서 최대 및 최소 널링이 있는 행을 가리킵니다.
    - 행마다 15개중 NaN이 아닌 유효한 데이터의 갯수를 나타내고
    - 그 점을 다음 행과 연결한 선

In [ ]:
tdf.info()

In [ ]:
tdf2 = tdf.sample(20)
tdf2

In [ ]:
msno.matrix(tdf2);

In [ ]:
# NaN이 1개인 행을 추출
tdf[ tdf.isna().sum(axis=1) == 1 ]

In [ ]:
tdf[ tdf.isna().sum(axis=1) == 2 ]

In [ ]:
tdf[ tdf.isna().sum(axis=1) == 3 ]

In [ ]:
msno.matrix( tdf[ tdf.isna().sum(axis=1) == 1 ] );

In [ ]:
msno.matrix( tdf[ tdf.isna().sum(axis=1) == 2 ] );

In [ ]:
# 열 embarked가 NaN인 행 추출
tdf[ tdf.embarked.isna() ]

In [ ]:
# 두 열, age, deck이 모두 NaN인 행 추출
tdf[ (tdf.age.isna()) & (tdf.deck.isna()) ]

In [ ]:
# 세 개 열, age, deck, embark_town이 모두 NaN인 행 추출
tdf[(tdf.age.isna()) & (tdf.deck.isna()) & (tdf.embark_town.isna()) ]

In [ ]:
# 최소한 1개의 NaN에 있는 행 추출
tdf[ tdf.isna().any(axis=1) ]

In [ ]:
msno.bar(tdf);

In [ ]:
msno.heatmap(tdf);

## 종료